*        -text
*.c      text=auto
*.cpp    text=auto
*.cc     text=auto
*.h      text=auto
*.hpp    text=auto
*.m      text=auto
*.mm     text=auto
*.sh     text eol=lf

*.dsp               text eol=crlf
*.dsw               text eol=crlf
*.sln               text eol=crlf
*.vcxproj           text eol=crlf
*.vcxproj.filters   text eol=crlf
*.pbxproj           text eol=lf

Makefile            text eol=lf
